/* task 5 */
.widget {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  margin-top: 40px;
  align-items: center;
}

.widget p {
  margin: 0;
}

.change-color {
  padding: 0 16px;
  margin-top: 16px;
}
